<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="vidush-dixit">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="shortcut icon" href="../images/favicon.png" type="image/png">
	<title>GodsEye | {{title}}</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/theme.css">
	<link rel="stylesheet" href="../css/error.css">
</head>

<body>

    {{{body}}}

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.bundle.min.js"></script>
	<script src="../js/user.js"></script>
</body>
</html>