<!DOCTYPE html>
<html lang="en">
<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>html,body{padding:0;margin:0}html{height:100%}body{height:100% !important}.card{background:rgba(222, 184, 135, 0.473) !important;box-shadow:18px 28px 32px 0 rgba(39, 29, 85, 0.25) !important;backdrop-filter:blur(0.5px) !important;-webkit-backdrop-filter:blur(0.5px) !important;border-radius:10px !important;border:1px solid rgba(255, 255, 255, 0.18) !important}.btn-theme{background:#00F260;background:-webkit-linear-gradient(to right, #0575E6, #00F260);background:linear-gradient(to right, #0575E6, #00F260);background-repeat:no-repeat;border:1.4px solid #0575E6;color:white;width:300px}.btn-theme:hover{color:#fff}</style>
</head>

<body>

    {{{body}}}

</body>
</html>