<!-- Start main component -->
<main>
    <!-- Start banner section -->
    <section>
        <div class="card mb-3 bg-theme-dark text-light banner">
            <div class="row g-0" style="min-height: 100%;">
            <div class="col-md-6 d-flex">
                <img class="mx-auto justify-content-center align-self-center" src="images/banner_3.png" width="80%" height="60%" alt="Intelligent Video Surveillance">
            </div>
            <div class="col-md-6 d-flex">
                <div class="card-body justify-content-center align-self-center">
                    <h1 class="card-title text-center text-md-start">Detect real-time abnormalities in video streams</h1>
                    <p class="card-text text-secondary">This project implements a 3D Convolutional Neural Network (3D-CNN) for detecting Abnormal scenes in a video streams. The 3D-CNN is a deep supervised learning approach that learns spatiotemporal discriminant features from videos (sequence of image frames). Preliminary results have shown above-average accuracy.</p>
                    <button class="btn btn-outline-info btn-lg btn-theme w-100 rounded text-light">Check GitHub Repo</button>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->
    
    <!-- Start features section -->
    <section class="mt-5 py-5">
        <div class="card-group text-center px-2 pt-3 pb-4">
            <div class="card border-light mb-3 mx-2">
                <span class="fs-1 icon-theme material-icons"> file_copy </span>
                <div class="card-body">
                <h5 class="card-title">Easy to Install</h5>
                <p class="card-text">Our system is developed so that it can be set up on single or distributed platforms and it's up and running with no stress.</p>
                </div>
            </div>
            <div class="card border-light mb-3 mx-2">
                <span class="fs-1 icon-theme material-icons"> alarm_on </span>
                <div class="card-body">
                <h5 class="card-title">Optimized for the Edge</h5>
                <p class="card-text">The Darknet Engine makes inferencing on the edge lightweight and superfast. Preliminary tests show close to realtime Inference speeds.</p>
                </div>
            </div>
            <div class="card border-light mb-3 mx-2">
                <span class="fs-1 icon-theme material-icons"> menu_book </span>
                <div class="card-body">
                <h5 class="card-title">Robust & Scalable</h5>
                <p class="card-text">Our development approach (from model design to inference calls and visualization) ensures this system is flexible to handle new use-cases.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End features section -->

    <!-- Start steps section -->	
    <section class="bg-light py-5">
        <div class="row py-3 gx-0">
            <div class="col">
                <div class="title text-center">
                    <p class="text-uppercase h6 small">How It Works</p>
                    <h2>System Pipeline</h2>
                    <hr class="mb-3 mt-0 hr-theme">
                    <p>Our approach of violence detection from any given video stream.</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2 mx-auto" style="width: 60%;">
            <div class="col px-0">
                <div class="card pt-3 pb-4">
                    <span class="step-count">1.</span>
                    <span class="icon-theme text-center material-icons"> layers </span>
                    <div class="card-body text-center">
                        <h4 class="card-title">Pre-processing and Stacking</h4>
                        <p class="card-text">... and passed through the 3D-CNN model to detect violence.</p>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card pt-3 pb-4">
                    <span class="step-count">2.</span>
                    <span class="icon-theme text-center material-icons"> account_tree </span>
                    <div class="card-body text-center">
                        <h4 class="card-title">Feature Extraction using 3D CNN</h4>
                        <p class="card-text">... learns spatiotemporal discriminant features from videos.</p>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card pt-3 pb-4">
                    <span class="step-count">3.</span>
                    <span class="icon-theme text-center material-icons"> precision_manufacturing </span>
                    <div class="card-body text-center">
                        <h4 class="card-title">Model Output Handling</h4>
                        <p class="card-text">... interface allows the operation of the system to be viewed in real-time.</p>
                    </div>
                </div>
            </div>
            <div class="col px-0">
                <div class="card pt-3 pb-4">
                    <span class="step-count">4.</span>
                    <span class="icon-theme text-center material-icons"> view_in_ar </span>
                    <div class="card-body text-center">
                        <h4 class="card-title">Result Visualization</h4>
                        <p class="card-text">... interface allows the operation of the system to be viewed in real-time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End steps section -->

    <!-- Start teams section -->
    <section class="bg-gray py-5">
        <div class="row py-3 gx-0">
            <div class="col">
                <div class="title text-center">
                    <p class="text-uppercase h6 small">Team Members</p>
                    <h2>Our Team</h2>
                    <hr class="mb-3 mt-0 hr-theme">
                    <p>These amazing people contributed in this project!</p>
                </div>
            </div>
        </div>
        <div class="row gx-0">
            <div class="card-group team-members text-center align-self-center">
                <div class="card bg-dark text-white">
                    <img src="images/profile.png" class="card-img" alt="VD">
                    <div class="card-img-overlay mb-0 mt-auto" style="height: 32% !important;">
                        <h5 class="card-title mb-0">Vidush Dixit</h5>
                        <p class="card-text fs-6 pb-3 mb-3">
                            <a class="text-white" href="https://github.com/vidush-dixit" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
                            <a class="text-white" href="https://www.linkedin.com/in/vidush-dixit/" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="images/Team/Suman.jpeg" class="card-img" alt="SK">
                    <div class="card-img-overlay mb-0 pb-0 mt-auto" style="height: 32% !important;">
                        <h5 class="card-title mb-0">Suman Kumar</h5>
                        <p class="card-text fs-6 pb-3 mb-3">
                            <a class="text-white" href="https://github.com/achuara" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
                            <a class="text-white" href="https://www.linkedin.com/in/suman-singh-435061170" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="images/Team/Rizwan.jpeg" class="card-img" alt="MR">
                    <div class="card-img-overlay mb-0 mt-auto" style="height: 32% !important;">
                        <h5 class="card-title mb-0">Md. Rizwan</h5>
                        <p class="card-text fs-6 pb-3 mb-3">
                            <a class="text-white" href="" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
                            <a class="text-white" href="https://www.linkedin.com/in/mohammad-rizwan-92a613159" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="images/Team/Saurav.jpeg" class="card-img" alt="SA">
                    <div class="card-img-overlay mb-0 mt-auto" style="height: 32% !important;">
                        <h5 class="card-title mb-0">Saurav Anand</h5>
                        <p class="card-text fs-6 pb-3 mb-3">
                            <a class="text-white" href="https://github.com/SAURAV818" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
                            <a class="text-white" href="https://www.linkedin.com/in/saurav-anand-a916b316b" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </p>
                    </div>
                </div>
                <div class="card bg-dark text-white">
                    <img src="images/Team/Krishna.jpeg" class="card-img" alt="KK">
                    <div class="card-img-overlay mb-0 mt-auto" style="height: 32% !important;">
                        <h5 class="card-title mb-0">Krishna Kumar</h5>
                        <p class="card-text fs-6 pb-3 mb-3">
                            <a class="text-white" href="https://github.com/krishnakumar3" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a>
                            <a class="text-white" href="https://www.linkedin.com/in/krishna-kumar-a2725a177" target="_blank"><i class="bi bi-linkedin"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>   
    <!-- End teams section -->

    <!-- Start contact section -->
    <section class="bg-gray py-5">
        <div class="row py-3 gx-0">
            <div class="col">
                <div class="title text-center">
                    <p class="text-uppercase h6 small">Drop Us a Note</p>
                    <h2>Contact Us</h2>
                    <hr class="mb-3 mt-0 hr-theme">
                    <p>This project is still in its early stages. We are open to criticisms and suggestions!</p>
                </div>
            </div>
        </div>
        <div class="row mx-auto centered-form">
            <div class="col">
                <form role="form">
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Your Name" class="form-control" name="name">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <input type="email" placeholder="Your Email" class="form-control" name="email">
                        <div class="invalid-feedback"></div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <input type="text" placeholder="Subject" class="form-control" name="subject">
                        <div class="invalid-feedback"></div>
                        <div class="form-text text-muted">Min. 4 characters</div>
                    </div>
                    
                    <div class="form-group mb-3">
                        <textarea rows="6" placeholder="Message" class="form-control" name="message"></textarea>	
                        <div class="invalid-feedback"></div>
                        <div class="form-text text-muted">Min. 20 characters</div>
                    </div>
                    
                    <div class="alert mb-3 d-none" role="alert"></div>

                    <div class="mt-2">
                        <button class="btn btn-outline-info btn-lg btn-theme w-100 rounded text-light">Send Message</button>
                    </div>						
                </form>
            </div>
        </div>
    </section>
    <!-- End contact section -->
</main>
<!-- End main component -->

<script>
    const form = document.querySelector('form');
    const btn = document.querySelector('form button');
    
    form.addEventListener('submit', async (e) => {
        e.preventDefault();

        // Reset errors for every submit
        const invalidElements = document.querySelectorAll('.is-invalid');
        [].forEach.call(invalidElements, function(invalidElement) {
            invalidElement.classList.remove('is-invalid');
        });
        const alertElement = document.querySelector('form div.alert');
        alertElement ? alertElement.className = "alert mb-3 d-none" : '';
        alertElement.innerHTML = '';

        // Disable Submit button
        btn.disabled = true;
        btn.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending Message...';

        // Get Form Data
        const name = form.name.value;
        const email = form.email.value;
        const subject = form.subject.value;
        const message = form.message.value;
        
        try {
            const res = await fetch('/contact-us', {
                method: 'POST',
                body: JSON.stringify({ name, email, subject, message }),
                headers: { 'Content-Type' : 'application/json' }
            });
            const data = await res.json();

            if (data.errors) {
                // Handle Validation errors here
                const errKeys = Object.keys(data.errors);
                if (errKeys[0] != 'server') {
                    [].forEach.call(errKeys, function(errKey) {
                        const errElement = form.elements.namedItem(errKey);
                        errElement.classList.add('is-invalid');
                        errElement.nextElementSibling.innerHTML = data.errors[errKey]; 
                    });
                }
                else {
                    alertElement.className = "alert alert-danger mb-3 text-center";
                    alertElement.innerHTML = Object.values(data.errors)[0];
                }
                btn.disabled = false;
                btn.innerHTML = 'Send Message';
            }
            if (data.success) {
                btn.innerHTML = 'Send Message';
                
                alertElement.className = "alert alert-success mb-3 text-center";
                alertElement.innerHTML = Object.values(data.success)[0];
                
                form.name.value = form.email.value = form.subject.value = form.message.value = "";
                
                setTimeout(function(){
                    alertElement.className = "alert mb-3 d-none";
                    alertElement.innerHTML = '';
                    btn.disabled = false;
                }, 4000);
            }
        }
        catch (err) {
            alertElement.className = "alert alert-danger mb-3 text-center";
            alertElement.innerHTML = "Server Error! Try Again";

            btn.disabled = false;
            btn.innerHTML = 'Send Message';
        }
    });
</script>