html, body{
	padding: 0;
	margin: 0;
}
html{
	height: 100%;
}
body{
	height: 100% !important;
    background-color: burlywood !important;
}

.card {
    background: rgba(81, 78, 95, 0.25) !important;
    box-shadow: 18px 28px 32px 0 rgba(39, 29, 85, 0.25) !important;
    backdrop-filter: blur( 0.5px ) !important;
    -webkit-backdrop-filter: blur( 0.5px ) !important;
    border-radius: 10px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;
}

.card .card-body { 
    max-width: 540px !important;
}

@media only screen and (min-width: 768px) {
    .card img {
        width: 240px;
        height: 380px
    }
    .card .card-body {
        width: 410px !important;
    }
}